# Environment
.env
.env.local

# Python & Django
__pycache__/
*.py[cod]
venv/
env/
*.egg-info/
dist/
build/

# Django specific
db.sqlite3
*.sqlite3
/media/
/staticfiles/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
